mixin player(name, color)
  -
    var name = name.toLowerCase()
  .column-desktop-1-3
    div(id='info-' + name class='player player_' + color)
      .player__pointer(data-color=color)
      .player__info
        .player__name
        .row
          .player__score-title Score  
          .player__score 0
