doctype html
html(lang="en")
  include partials/head
  body
    
    .main-page
      
      .sidebar
        .logo
        .menu
        .filter
        .shared
        .copyrights
      
      .content
        .portfolio
          .portfolio-list

          .portfolio-item
            
            .portfolio-item__inner
        
    include partials/footer
