doctype html
html(lang="en")
  include partials/head
  body
    .fair-attention fair!
    .wrapper
      .container
        .title tick tack toe
          .round-counter
        .interface.row
          +player("Player1", "red")
          .column-desktop-1-3
            .row.m-h-100
              .start Start
              .reset.btn-inactive Reset
          +player("Player2", "blue")
      
          include partials/gamefield
        
    include partials/footer
